[Unit]
Description=Cotygodniowa retencja prywatnych plików KLA

[Timer]
OnCalendar=Sun *-*-* 04:30:00
RandomizedDelaySec=20min
Persistent=true

[Install]
WantedBy=timers.target
