[Unit]
Description=Kontrola i samonaprawa KLA co minutę

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
RandomizedDelaySec=5s
Persistent=true

[Install]
WantedBy=timers.target
