[Unit]
Description=Miesięczny test odtworzenia KLA

[Timer]
OnCalendar=monthly
RandomizedDelaySec=2h
Persistent=true

[Install]
WantedBy=timers.target
